<!-- <div class="">
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
</div> -->
<!-- <form>
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="employee_name" [ngModelOptions]="{standalone: true}" class="form-control"
            id="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label>address</label>
        <input type="text" [(ngModel)]="employee_email" [ngModelOptions]="{standalone: true}" class="form-control"
            id="address" placeholder="Enter address">

    </div>
    <div class="form-group">
        <label>Mobile</label>
        <input type="text" [(ngModel)]="employee_mobile" [ngModelOptions]="{standalone: true}" class="form-control" id="mobile"
            placeholder="Enter Mobile">

    </div>

    <button type="submit" class="btn btn-primary mt-4" (click)="save()">Submit</button>
</form> -->